/*All pages*/
html, body {
	height: 100%; /*Makes all percentage sizes work*/
}
body {
	margin: 0; /*Keeps everything against the edges of the screen*/
	background-color:Gainsboro;
	font-family:"Century Gothic", sans-serif;
}

/*Index*/
table {
	height:100%; /*Sets table height at full screen. Width is automatically full screen*/
}
table, td {
	border:1px solid black;
	border-collapse:collapse;
}
td {
	text-align:center; /*Multi-line centering*/
	font-size:50px;
}
#i1 {
	background-color:FireBrick;
	width:33.3%; /* It doesn't matter what this value is as long as it's the same for i1, i2, and i3*/
	height:50%;
}
#i2 {
	background-color:Orange;
	width:33.3%;
	height:50%;
}
#i3 {
	background-color:SteelBlue;
	width:33.3%;
	height:50%;
}
#i4 {
	background-color:DarkOrchid;
	width:50%; /*It doesn't matter what this value is as long as it's the same for i4 and i5*/
	height:50%;
}
#i5 {
	background-color:LimeGreen;
	width:50%;
	height:50%;
}
#i6 {
	font-size:24px; /*i6 is a span element inside i4 and i5*/
}
a {
	display:flex; /*Unlocks centering attributes and makes the link fill the width*/
	align-items:center; /*Aligns the text vertically*/
	justify-content:center; /*Single-line centering*/
	height:100%; /*Makes the link fill the height*/
}
a:link, a:visited {
	color:Black;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	color:Grey;
}