html {
  height: 100%; /*Allows the background image to be centered vertically*/
}

body {
    background-image: url("http://www.bosarchitecture.co.nz/media/1312/02.jpg");
	background-position: center center;
	background-size: cover;
	font-family: "Arial";
}
.sign-in {
	background: #ffffff;
	width:396px; /*90% of 440px*/
	padding: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /*Centers the sign-in box*/
}

img.logo{
	max-width: 80%;
	width: auto;
}

@media only screen and (max-width: 440px) {
    .sign-in {
        width: 90%;
    }
}


.button-wrap {
	text-align: center; /*Not working*/
}

.g-signin2 {
	margin: auto;
}