html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

header {
	background-color: darkgreen;
	height: 10%;
}

h1 {
	margin: 0;
	padding: 10px;
	font-size: 2em;
}

p {
	margin: 0;
	padding: 10px;
}


div.background {
	height: 90%;
	background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?h=350&auto=compress&cs=tinysrgb");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}