html {
  height: 100%; /*Allows the background image to be centered vertically*/
  font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("http://www.bosarchitecture.co.nz/media/1312/02.jpg");
	background-position: center center;
	background-size: cover;
}

div.sign-in {
	background: #ffffff;
	width:396px; /*90% of 440px*/
	padding: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /*Centers the sign-in box*/
	box-shadow: 0 0 5px 5px #fff;
}

div.sign-in img {
	display: block;
	margin: auto;
}

div.sign-in p {
	text-align:center;
}

div.sign-in div.g-signin2 {
	display: block;
	margin: 0 auto; /*Not working*/
}